:root{
    --main-color: #EFF8E2;
    --secondary-color: #CECFC7;
    --tertiary-color: #ADA8B6;
    --quaternary-color: #23022E;
    --quinary-color: #573280;
}

*{
    font-family: sans-serif;
}

body{
    background-color: var(--main-color);
}